.hero {
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero_shadow {
  width: 100vw;
  height: 90vh;
  background-color: rgba(150, 150, 150, 0.3);
}
