<div class="form_container">
  <h3 class="mb-5">Register new account for <%= @bank.name %></h3>
  <%= render "form" %>
</div>

<div class="text-center">
  <%= link_to "Back", :back, class: "btn btn-primary" %>
</div>