<div class="contain">
  <%#= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'link right' %>
  <h1>Welcome to your dashboard</h1>
  <h6>Admin: <%=current_user.name%></h6>

</div>
<div class="text-center">
  <%= link_to "Manage Subproducts", subproducts_path, class:"btn btn-primary" %>
</div>

<%= render "banks/bank_list" %>




