<div class="contain">
  <%#= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'link right' %>
  <h1>Welcome to your dashboard</h1>
  <h6>User: <%=current_user.name%></h6>
</div>

<div class="contain-color">
  <h6 class="small_text">
    User details
  </h6>
</div>
<div class="contain">
  <h6 class="small_text">
    Saved views
  </h6>
</div>
