<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Welcome to overview  <%= current_user.name %></h2>
      <p>Admin: <%= current_user.admin? ? 'Yes' : 'No' %></p>
    </div>
  </div>
</div>

