.alert {
  z-index: 1000;
}

.where {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 10rem);
  -webkit-transform: translate(-50%, 10rem);
  -moz-transform: translate(-50%, 10rem);
  -ms-transform: translate(-50%, 10rem);
  -o-transform: translate(-50%, 10rem);
}
