.btn {
  color: $white;
  text-transform: uppercase;
  font-family: $body-font;
  background-color: $red;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  &:hover {
    color: $white;
  }
}

//Giuseppe made this small class. Unable to work with existing css here.
.btn-small{
  color: $white;
  text-transform: uppercase;
  font-family: $body-font;
  background-color: $red;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  &:hover {
    color: $white;
    background-color: $red;
    text-decoration: none;
  }
  font-size: 0.9rem;
  padding: 0.25rem 0.45rem;
}



.btn-outline {
  color: $red;
  background-color: $white;
  border: 1px solid $red;
  text-transform: uppercase;
  font-family: $body-font;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  &:hover {
    color: $white;
    background-color: $red;
    text-decoration: none;
  }
}

.action {
  margin: 4rem auto 0 auto;
  text-align: center;
}

.action_claim  {
  font-size: 1.5rem;
}

.link {
  color: $red;
  font-size: 1.1rem;
  &:hover {
    color: $red;
  }
  &-small {
  font-size: 0.75rem;
  }
}

.success {
  color: $green;
  &:hover {
    color: $green;
    text-decoration: underline;
  }
}