.card {
  border-radius: 3px;
  // border: 1px solid $smoke;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  background-color: $white;
  position: relative;
  // width: 30%;
  margin: 1rem;
  padding: 2rem;
  height: 375px;
  flex-basis: calc(33% - 32px);
  &-color {
    background-color: $smoke;
  }
  &-noheight {
    height: auto;
  }
}

.bank-card {
  flex-basis: calc(33% - 32px);
  border-radius: 3px;
  // border: 1px solid $smoke;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  background-color: $white;
  position: relative;
  // width: 30%;
  margin: 1rem;
  padding: 2rem;
  height: 375px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card_title {
  font-family: $headers-font;
  font-size: 1.25rem;
  font-weight: 600;
  color: $orange;
}

.card_text{
  font-size: 1.1rem;
  a {
    @include reset-link;
    &:hover {
      color: $red;
    }
  }
}

.card_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  width: calc(100% - 64px);
}