.chart_form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.chart_group {
  margin: 1rem;
  & select {
    width: 100%;
  }
  flex-basis: calc(33% - 24px);
}

#compare-btn {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.chart_container {
  width: 110%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  // align-items: center;
}


.another_chart {
  // flex-basis: calc(100% -24px);
  flex-grow: 1;
  // height: 37vh;
  // // width: 80%;
  // margin-left: 5rem;
}

// .fancy_select {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

canvas#pie-chart-subproduct {
  width: 40vw !important;
  height: 35vh !important;
}
canvas#subproduct-chart {
  width: 100% !important;
  height: 35vh !important;
}

select#update_other_bank_groups {
  margin: 0 auto; 
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid $orange;
  margin: 0;
  padding: 0.5rem;
  font-family: $body-font;
  &:focus {
    outline: none;
  }
}

svg {
  margin: 1.5rem 0;
  stroke: $red;
  stroke-width: 2px;
}