.chart_form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chart_group {
  margin: 1rem;
  & select {
    width: 100%;
  }
  flex-basis: calc(33% - 24px);
}

#compare-btn {
  margin: 0 auto;
}


// #demand-deposit-count-chart,
// #demand-deposit-sum-chart {
//   height: 300px;
//   width: 960px;
// }
.hidden {
  display: none;
}