.contain {
  max-width: 1522px;
  width: 100%;
  padding: 2rem 12vw;
  position: relative;
}



.contain-color {
  background-color: $smoke;
  width: 100%;
  padding: 2rem 12vw;
  height: 1000px;
}

#values {
  padding: 6rem 0;
}

.left {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.right {
  position: absolute;
  top: 2rem;
  right: 15vw;
}
