.menu {
  width: 100%;
  background-origin: $white;
  border-bottom: 1px solid $orange;
  height: 4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
}

.menu_icon {
  height: 1.5rem;
}

.menu_link {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & p {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $orange;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-size: 1rem;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $red;
    & p {
      color: $red;
    }
  }
}

.active {
  border-bottom: 2px solid $red;
  & p {
    color: $red;
  }
}
