.h2 {
  color: $dark;
  font-weight: 500;
  margin: 1rem 0;
}

.small_title {
  font-weight: 400;
  font-size: 1.5rem;
}
.text_right {
  text-align: right;
}

.small_text {
  font-size: 0.8rem;
}

.orange {
  color: $orange;
}

.selling {
  font-size: 1.25rem;
  line-height: 1.8rem;
}